<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the HomePage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, 
       officiis nisi non fugit expedita provident eaque assumenda? Consequatur 
       repellendus illum reiciendis quod tempore error deserunt est sequi accusamus 
       sapiente. Ducimus?</p>
    <button>Click Me</button>
    <h3>Sum of 2+2: <%= 2+2 %></h3>
    <h3><%= "CodeRHisham".toLowerCase()  %></h3>
    <h3><%= ['Hello','Namaste','Konnichiva'][2]  %></h3>
</body>
</html>