.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}
section {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}
.chat {
  background-color: aliceblue;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.msg {
  background-color: aquamarine;
  padding: 1px 10px;
  border-radius: 20px;
}
span {
  font-weight: bold;
  color: blue;
}
