body {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  padding: 10px 5px;
  width: 400px;
  max-width: 400px;
  margin: 5px 0px;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
}
